.SGgame-controls {
  width:273px;
  margin:auto;
}

.SGbtn{
  background-color:black;
  border-color:black;
  font-size:20px;
}

.SGbtn:hover{
  background-color:black;
  border-style:dotted;
  border-color:white;
  border-width:1.5px;
  border-radius:20px;
}

#checkbox-container {
  text-align:center;
  padding:5px;
  color:white;
}
 
.game-container {
  background-color:black;
  width:324px;
  margin:auto;
  padding:10px;
  padding-bottom:5px;
}

.SGcolor-btn {
  width:150px;
  height:150px;
  display:;
  border-style:solid;
  border-color:black;
  border-radius:20px;
  opacity:.8;
}

#green-btn {
  background-color:#76ff03;
}

#red-btn {
  background-color:#f44336;
}

#yellow-btn {
  background-color:#ffeb3b;
}

#blue-btn {
  background-color:#2196F3;
}